[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	editor = nvim
[user]
	email = rustam.gk@gmail.com
	name = Rustam Galimyanov
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	graph = log --all --decorate --oneline --graph
	unstage = reset HEAD --
	last = log -1 HEAD
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[color]
	ui = auto
